include ../../social/social
eader
    div.container
        div.logo
            img(src="images/logo.png")
        nav.navbar.navbar-expand-lg
            button.navbar-toggler(data-toggle="collapse" data-target="#navContent")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse()
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="#") Для массажистов
                    li.nav-item
                        a.nav-link(href="#") Для татуировщиков
                    li.nav-item
                        a.nav-link(href="#") Для косметологов
        div.address г.Тула ул. Советская 17Б, офис 311

        +social