section(id="advantages")
    .container
        h2.section-title Преимущства
        .img-block
            img(src="images/adv-table.png")
            object(type="image/svg+xml" data="images/advantages.svg")
            -for (let i =1;i<=6;i++)
                div.description(id="d-"+i.toString()) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi laudantium quod repudiandae vel veniam!