// advantages styles
.advantages
  padding-bottom: 150px
  .img-block
    position: relative
    img
      position: relative
      left: 10%
    object
      position: absolute
      width: 100%
      left: 0
      top: 0
  .description
    position: absolute
    max-width: 300px
    &#0
