mixin form(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  form.present-form
    h3.form-title Оставьте свой номер телефона сейчас
      span.sub и получите подушку в подарок бесплатно
    .form-group
      input.form-control(placeholder="Телефон")
    .form-group
      button.form-control.btn Получить подарок
    .form-check
      input.form-check-input(type="checkbox" name="acceptance" id="acceptance" checked)
      label.form-check-label(for="acceptance") Нажимая на кнопку "Получить подарок", я даю согласие на <a href="#">обработку персональных данных</a>

