include ../../form/form
section(id="intro")
    include ../header/header
    .bg-wrapper
        div.bg
        object(type="image/svg+xml" data="images/intro.svg")
        .dot-descr.first
            span.number 350
            span.caption максимальная нагрузка
        .dot-descr.second
            span.number 18 месяцев
            span.caption Гарантия производителя
    img.table(src="images/table.png")
    div.container.content
        h1.title  Массажные столы для массажистов и аксессуары от российского производителя
        +form