mixin description(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .description
    h3.name Стол "Стандарт"
    p.descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, repellat!

