mixin product(count,spec)
  - count = count || 0
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - colors = ["fff","9b2d30","331a00","000099"]
  div.product
    div.image
      img(src='images/product-1.jpg')
    div.description
      h3.name Стол "Стандарт"
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, repellat!
    div.sizes
      .one
        i
        span Ширина
        a.option 60 см
    div.price
      span.total Цена 3990 руб.
      button.btn Купить
    div.properties
      div.complect
        span.block--title Комплектация
        a.link.link--active Базовая модель
        a С вырезом для лица
        a С регулируемыми ножками
    div.colors
      span.block--title Цвет
      -for(let i=0;i<4;i++)
        a.color(id="c-"+i.toString() style="background-color:"+colors[i])

