// product styles
@import "../../_styles/vars"
.product
  .name
    font-size: 23px
  .descr
    font-size: 17px
  .block--title
    font-weight: bold
    display: block
    margin-bottom: 1rem
  .link
    border-radius: 20px
    color: #000
    &.active
      color: #fff
      padding: 10px 20px
      &:hover
        text-decoration: none
+media-breakpoint-down(md)
  .product
    .image-block
      display: flex
      justify-content: center


