mixin product(count,spec)
  - count = count || 0
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - colors = ["#fff","#9b2d30","#331a00","#000099"]
  .product
    .image-block
      .image
        img(src='images/product-1.jpg')
    .description
      h3.name Стол "Стандарт"
      p.descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, repellat!
    .sizes
      .size
        i
        span Ширина
        a.option 60 см
    .price
      span.total Цена 3990 руб.
      button.btn Купить
    .properties
      .complect
        span.block--title Комплектация
        a.link.active(href="") Базовая модель
        a С вырезом для лица
        a С регулируемыми ножками
    .colors
      span.block--title Цвет
      a.color.active(style="background-color:"+colors[1])
      -for(let i=0;i<4;i++)
        a.color(id="c-"+i.toString() style="background-color:"+colors[i] href="" )

