mixin social(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div.social
    span.number +7(999)999-99-99
    div.icons
      i.fab.fa-telegram-plane
      i.fab.fa-whatsapp
      i.fab.fa-viber
      i.fab.fa-instagram
      i.fab.fa-vk
