// options styles

#options
  position: relative
  .product
    display: grid
    grid-template-columns: 2fr 3fr 4fr
    grid-column-gap: 30px
    margin-bottom: 50px
  .bg
    position: absolute
    top: -30%
    left: 0
    bottom: 0
    width: 100%
+media-breakpoint-down(lg)
  #options
    .product
      grid-template-columns: 2fr 3fr
      grid-row-gap: 30px
      .price
        grid-column: 1
        grid-row: 2
+media-breakpoint-down(md)
  #options
    .product
      grid-template-columns: 1fr
      .price
        grid-row: auto


