section(id="reviews")
    .container
        h3.section-title Отзывы
        .slider
            .review
                .avatar
                    img(src="images/avatar.png")
                span.review-author Диана Данилюк,
                    span.city Тула
                p.reviews-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eum impedit iste perferendis quod rem repellat rerum veniam? Harum hic illo ipsam neque quaerat quibusdam recusandae reiciendis repellat velit voluptas!
