// reviews styles
#reviews
  .wrapper
    width: 100%
  .slide-wrapper
    padding: 100px 0
    width: 80%
    margin: auto
  .slick-prev, .slick-next
    position: absolute
    background: #c8c8c8
    background: 
    margin: auto
    width: 60px
    height: 60px
    top: 0
    bottom: 0
    z-index: 2
    border-radius: 50%
    border: 0
    outline: 0
    color: #fff
    font-size: 35px
    &:hover
      background: $main-color
  .slick-prev
    left: 0
    text-indent: -2px
  .slick-next
    right: 0
    text-indent: 2px
  .review
    position: relative
    padding: 35px 50px
    background: #fff
    text-align: center
    border-radius: 10px
    box-shadow: rgba(0,0,0,.15) 0px 0px 70px
    .avatar
      width: 160px
      position: absolute
      left: -90px
      top: -90px
      img
        border-radius: 50%
    .review-author
      .city
        color: #cac6c6
    .reviews-text
      text-align: left
+media-breakpoint-down(md)
  #reviews
    .review
      .avatar
        left: -70px
        top: -100px
+media-breakpoint-down(sm)
  #reviews
    .slide-wrapper
      padding-top: 130px
      padding-bottom: 50px
    .review
      .avatar
        left: 0
        right: 0
        margin: auto
        top: -130px
+media-breakpoint-down(xs)
  #reviews
    .review
      padding: 35px 30px