section(id="map")
    .container
        h2.section-title Где мы находимся
        .map
        .button-block
            span.address В Туле: ул. Советская, 17Б, офис 311.
                span.sub Самовывоз бесплатно, доставка по городу 200 рубэ.
            button.btn Также большая сеть дилеров по всей России

