section(id="clients")
    .bg
        img(src="/images/clients-bg.png")
    .container
        h2.section-title Наши клиенты
        .wrapper
            .slider
                -for(let i=0;i<12;i++)
                    .client
                        img(src="/images/client.png")
            .slider-nav