section(id="accessories")
    .container
        -for(let i=0;i<3;i++)
            .product
                +image_block
                +description
                +sizes
                +colors
                +price



