extends _layouts/base


block content
  include _modules/sections/intro/intro
  include _modules/sections/advantages/advantages
  include _modules/sections/map/map
  include _modules/sections/options/options
  include _modules/sections/photo/photo
  include _modules/sections/video/video
  include _modules/sections/reviews/reviews
  include _modules/sections/clients/clients
  include _modules/sections/accessories/accessories
  include _modules/sections/footer/footer